Options +FollowSymLinks
RewriteEngine on


#HTML (default)
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^(.*)$ https://github.com/Pistoia-Alliance-Inc/Pistoia-Alliance-PGO/blob/development/PGOv1.0-core-concepts/$1.md


# YAML file [PLACEHOLDER for Future Releases]
#RewriteCond %{HTTP_ACCEPT} application/yaml
#RewriteRule ^(.*)$  https://github.com/PistoiaAlliance/Pistoia-Alliance-Pharma-General-Ontology/blob/pgo-linkml/doc/linkml/doc/linkml/$1.yaml [R=302,L]


#Turtle [PLACEHOLDER for Future Releases]
#RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
#RewriteCond %{HTTP_ACCEPT} text/\* [OR]
#RewriteCond %{HTTP_ACCEPT} \*/turtle
#RewriteRule ^(.*)$ https://github.com/PistoiaAlliance/Pistoia-Alliance-Pharma-General-Ontology/blob/pgo-linkml/doc/linkml/doc/linkml/owl/$1.owl [R=302,L]
#RewriteRule ^(.*)$ https://raw.githubusercontent.com/PistoiaAlliance/Pistoia-Alliance-Pharma-General-Ontology/refs/heads/pgo-linkml/doc/linkml/owl/$1.owl [R=302,L]


#RDF/XML [PLACEHOLDER for Future Releases]
#RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
#RewriteRule ^Pharma_General_Ontology.owl$ https://github.com/PistoiaAlliance/Pistoia-Alliance-Pharma-General-Ontology/blob/pgo-linkml/doc/Pharma_General_Ontology.owl [R=302,L]
